#------------------------------------------------------------
# GIT - Version manager
#
# This file sets the configuration for git command display
# Move this file to $HOME/.gitconfig
#------------------------------------------------------------
# WARNING: replace email and name by your credentials.
#------------------------------------------------------------
# Author:       Adrien CARBONARO
# Dotfiles :    www.github.com/adriencarbonaro/dotfiles.git
#------------------------------------------------------------

[user]
    email = [your_email]
    name  = [your_name]
[color]
    pager       = true
    ui          = auto
    status      = auto
    diff        = auto
    branch      = auto
    showBranch  = auto
    interactive = auto
    grep        = auto
[color "status"]
    header    = black bold
    branch    = magenta bold
    nobranch  = red
    unmerged  = red
    untracked = red
    added     = green bold
    changed   = red bold
[color "diff"]
    meta       = black bold
    frag       = cyan bold
    func       = cyan
    old        = red
    new        = green
    commit     = cyan
    whitespace = red
    context    = normal
[color "branch"]
    current  = magenta bold
    local    = magenta
    remote   = cyan
    upstream = cyan
    plain    = normal
[color "decorate"]
    branch = green bold
    remoteBranch = magenta bold
    tag = yellow bold
    stash = cyan
    HEAD = cyan bold
[color "interactive"]
    prompt = blue bold
    header = red bold
    error = red
    help = black bold
[color "grep"]
    context = normal
    match = cyan
    filename = blue
    function = blue
    selected = normal
    separator = red bold
    linenumber = normal
